<header class="h2 border">
  <nav class="flex item-center bg-white">
    {{link-to "Helicorders" "helicorders" class="p2"}}
    {{link-to "Stations" "stations" class="p2"}}
    {{link-to "Dashboard" "index" class="p2"}}
  </nav>
</header>
