<header class="h2 border">
  <nav class="flex item-center bg-white">
    {{link-to "Dashboard" "index" class="p2"}}
    {{link-to "Stations" "stations" class="p2"}}
    {{link-to "Quakes" "quakes" class="p2"}}
    {{link-to "Global Quakes" "global-quakes" class="p2"}}
  </nav>
</header>
