
<ul class="horizontal">
  <li><LinkTo @route="stations.show.cellstatus.latency.destination" @models={{array model.station.id 'eeyore'}}>Eeyore</LinkTo></li>
  <li><LinkTo @route="stations.show.cellstatus.latency.destination" @models={{array model.station.id 'thecloud'}}>TheCloud</LinkTo></li>
  <li><LinkTo @route="stations.show.cellstatus.latency.destination" @models={{array model.station.id 'iris'}}>IRIS</LinkTo></li>
</ul>

{{outlet}}
