
<ul class="horizontal">
  <li>{{#link-to 'stations.show.cellstatus.latency.destination' model.station.id 'eeyore'}}Eeyore{{/link-to}}</li>
  <li>{{#link-to 'stations.show.cellstatus.latency.destination' model.station.id 'thecloud'}}TheCloud{{/link-to}}</li>
  <li>{{#link-to 'stations.show.cellstatus.latency.destination' model.station.id 'iris'}}IRIS{{/link-to}}</li>
</ul>

{{outlet}}
