

nav {
  padding: 3px;
  background-color: lightgrey;
  color: skyblue;
}
nav a {
  padding-right: 10px;
}
ul.horizontal > li {
  display: inline-block;
}

div.horizontal > div {
  display: inline-block;
}

.latency-conn-failure {
  color: red;
}

.latencygood {
  color: black;
}

.latencyworry {
  color:orange;
}

.latencybad {
  color:red;
}

.latencybadbad {
  background-color:red;
  color:white;
}

.inactiveStationMarker {
  color: darkgrey;
  font-size: large;
  z-index: 1;
  text-shadow: 1px 1px 0 dimgrey, -1px 1px 0 dimgrey, -2px 1px 0 dimgrey, -1px -1px 0 dimgrey, 0 -3px 0 dimgrey, 1px -1px 0 dimgrey, 2px 1px 0 dimgrey;
}
.inactiveStationMarker:after{
  content: "\25B2"
}
.stationMarker {
  color: crimson;
  font-size: large;
  z-index: 10;
  text-shadow: 1px 1px 0 dimgrey, -1px 1px 0 dimgrey, -2px 1px 0 dimgrey, -1px -1px 0 dimgrey, 0 -3px 0 dimgrey, 1px -1px 0 dimgrey, 2px 1px 0 dimgrey;
}

.stationMarker:after{
  content: "\25B2"
}
.leaflet-container.smallmap {
  height: 200px;
  width: 275px;
}
.leaflet-container.largemap {
  height: 500px;
  width: 500px;
}
.widemap {
  width: 90%;
  height: 500px;
}

.leaflet-container {
  height: 400px;
  width: 600px;
}

th.tabledivider {
  padding-right: 50px;
}
