path.seispath {
     stroke: skyblue;
     fill: none;
}

nav {
  padding: 3px;
  background-color: lightgrey;
  color: skyblue;
}

ul.horizontal > li {
  display: inline-block;
}

.leaflet-container {
  width: 90%;
}

.quakemap {
  width: 90%;
  height: 500px;
}
