
<h3>Global Seismic Events...loading</h3>

<h5>Global Earthquakes of Magnitude 6 and Greater in last 30 Days</h5>
<div class="quakeList">

  <ShowHide @divTitle="Map">
    <QuakeStationMap class="widemap"  @center={{array 0 0}} @zoomLevel=1 />
  </ShowHide>
  <ShowHide @divTitle="Seismic Events ">
    <QuakeList @thelink="global-quakes/quake"  @sortDefinition="time:desc"></QuakeList>
  </ShowHide>
</div>

{{outlet}}
