

{{#leaflet-map lat=33.75 lng=-81 zoom=7 class="quakemap" scrollWheelZoom=false }}
  {{tile-layer url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

{{/leaflet-map}}


<table>
  <tr>
    <th>EventId</th>
  </tr>
  <tr>
    <th>Time</th>
  </tr>
  <tr>
    <th>Latitude/Longitude</th>
  </tr>
  <tr>
    <th>Depth</th>
  </tr>
  <tr>
    <th>Magnitude</th>
  </tr>
</table>

<p>Loading Seismograms</p>
