
  <h3>Seismic Events near SC...loading</h3>

  <div class="quakeList">

  <ShowHide @divTitle="Map">
    <QuakeStationMap class="smallmap"  @center={{array 33.75 -81}} @zoomLevel=7 />
  </ShowHide>
  <ShowHide @divTitle="Seismic Events in Last Year">
    <QuakeList @quakes={{array }} @sortDefinition="time:desc"></QuakeList>
  </ShowHide>
  <ShowHide @divTitle="Older Seismic Events">
    <QuakeList ></QuakeList>
  </ShowHide>
</div>
