
<h3>Earthquakes near South Carolina since 2009-06-01</h3>

<LeafletMap @lat={{33.75}} @lng={{-81}} @zoom={{7}} @class="quakemap">
  <TileLayer @url="https://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}" />

</LeafletMap>

<p>Events: <span>...loading</span></p>

<table>
  <tr>
    <th>EventId</th>
    <th>Time</th>
    <th>Latitude/Longitude</th>
    <th>Depth</th>
    <th>Magnitude</th>
  </tr>
</table>
{{outlet}}
