#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

#nav ul {
  list-style: none;
  background: lightgrey;
}

#nav ul li {
  display: inline-block;
  padding: 0 3px;
  min-width: 5rem;
  text-align: center;
}

#nav ul li:not(:last-child) {
  border-right: 1px solid black;
}

sp-station-quake-map {
  min-width: 100px;
  min-height: 100px;
  height: 400px;
}
