<h3>SCSN Status</h3>

{{latency-table model=model.latency}}

<p>ANSS Depot <a href="https://dev-earthquake.cr.usgs.gov/monitoring/anss/depot/">Return Form</a></p>
<p>NOAA <a href="https://www.esrl.noaa.gov/gmd/grad/solcalc/">Solar Noon Calculator</a></p>

